body {
    background-color: white;
    background-image: url(image\ 9.jpg);
}
table{
    margin: auto;
    font-size: 30px;
    color: black(10, 10, 10);
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}